@font-face{
    src: url(fontes/OpenSans-fonte.ttf);
    font-family: OpenSans-fonte;
}
@font-face {
    src: url(fontes/Roboto-fonte.ttf);
    font-family: Roboto-fonte;
}

.header-style{
    background-color: green;
    overflow: hidden;
}
#titulo-header{
    text-align: center;
    color: white;
    font-family: OpenSans-fonte;
}

body{
    margin: 0px;
}
.barra-nav ul{
    list-style-type: none;
    background-color: rgb(44, 172, 44);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.barra-nav a{
    font-family: Roboto-fonte;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.barra-nav a:hover{
    background-color: rgb(36, 138, 36);
}
.barra-nav li{
    float: left;
}

.home-section{
    display: flex;
    height: 700px;
    font-family: OpenSans-fonte;
}
.home-style{
    flex: 1.3;
    background-color: #2ecc40;
}
.home-style2{
    flex: 2;
    background-image: url(imagens/banner-idoso-tela-inicial.jpg);
    background-size: cover;
    background-position: auto;
}

#titulo2-home{
    color: white;
    font-size: 55px;
    text-align: start;
    margin-left: 10px;
}
#titulo3-home{
    color: white;
    font-size: 25px;
    text-align: start;
    margin-left: 10px;
}