body{
    margin: 0px;
}
h1{
    text-align: center;
}
.barra-nav ul{
    list-style-type: none;
    background-color: rgb(44, 172, 44);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.barra-nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.barra-nav a:hover{
    background-color: rgb(36, 138, 36);
}
.barra-nav li{
    float: left;
}

.home-section{
    display: flex;
    height: 700px;
}
.home-style{
    flex: 1;
    background-image: url(imagens/banner-idoso-tela-inicial.jpg);
    background-position: left;
    background-size: cover;
}
.home-style2{
    flex: 0.6;
    background-color: rgb(63, 199, 63);
}
#titulo2-home{
    color: white;
    font-size: 60px;
    text-align: start;
    margin-left: 10px;
}
#titulo3-home{
    color: white;
    font-size: 30px;
    text-align: start;
    margin-left: 10px;
}